/* @tailwind base;
@tailwind components;
@tailwind utilities; */

header {
  width: 100%;
  padding: 50px 0px 50px;
  background: #212121;
  color: #fff;
  text-align: center;
  justify-content: center;
}

nav > ul {
  list-style-type: none;
}

body {
  margin: 0;
}
